<h1>New Upload</h1>
<% if @user_id %>
  <%= form_for @artwork, url: user_artwork_index_path(@user_id, @artwork), html: {method: :post } do |f| %>
    <div>
      <%= f.label :picture %><br>
      <%= f.file_field :picture %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
<%= form_for @artwork, url: crew_artwork_index_path(@crew_id, @artwork), html: {method: :post } do |f| %>
    <div>
      <%= f.label :picture %><br>
      <%= f.file_field :picture %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>

<% if @user_id %>
  <%= link_to 'Back', user_artwork_index_path %>
<% else %>
  <%= link_to 'Back', crew_artwork_index_path %>