<footer class="footer">
  <nav>
    <ul>
      <p><b>Art</b></p>
      <li><%= link_to "News", root_path %></li>
      <li><%= link_to "Events", root_path %></li>
      <li><%= link_to "Featured",   root_path %></li>
      <li><%= link_to "Popular", root_path %></li>
    </ul>
    <ul>
      <p><b>Browse</b></p>
      <li><%= link_to "Art", root_path %></li>
      <li><%= link_to "Artists", root_path %></li>
      <li><%= link_to "Crews",   root_path %></li>
      <li><%= link_to "Location", root_path %></li>
    </ul>
    <ul>
      <p><b>Learn</b></p>
      <li><%= link_to "Tutorials", root_path %></li>
      <li><%= link_to "Reviews", root_path %></li>
    </ul>
    <ul>
      <p><b>Store</b></p>
      <li><%= link_to "Something", root_path %></li>
      <li><%= link_to "Something2", root_path %></li>
    </ul>
    <ul>
      <p><b>Company</b></p>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact Us", root_path %></li>
      <li><%= link_to "Write for Us",   root_path %></li>
    </ul>
  </nav>
</footer>