
<header class="navbar navbar-fixed-top navbar-inverse">
 <div class="container">
   <%= link_to "Unbuffable", root_path, id: "logo" %>
   <nav>
     <ul class="nav navbar-nav navbar-right">
       <li><%= link_to "Artist", root_path %></li>
       <li><%= link_to "Art", root_path %></li>
       <li><%= link_to "Learn", root_path %></li>
       <li><%= link_to "Store", root_path %></li>
       <li><%= link_to "About", root_path %></li>
     </ul>
   </nav>
 </div>
</header>