<!DOCTYPE html>
<html>
<head>
  <title>UNBUFFABLE</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= render 'layouts/header' %>
  <div id='app'>
  </div>
  <%= yield %>
  <%= render 'layouts/footer' %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
